# imports
from flask import Blueprint, render_template

# blueprint
bp = Blueprint('{{ page }}', __name__, url_prefix="{{ url_prefix }}", template_folder='templates', static_folder='static')


# routing
@bp.route("/")
def index():

    # you can pass objects, variables from the server to client
    context = {}
    # rendering the {{ page }} jinja/html template on the templates directory
    return render_template('pages/{{ page }}/page.j2', context=context )
